
    #login-form{
        max-width: 400px;
       
    }
    .site-login{
        margin-left:450px;
    }
    .custom-checkbox{
        width: 200px;
    }
    .color-grey{
        color:brown;
    }
    .content_login{
        background: black;
      position: relative;
    bottom: 150px;
      width: 500px;
    }
    .section_btn-login{
        position: relative;
        right: 45px;
        width: 120px;

    }
    .section_btn-creat{
        position: relative;
        left: 135px;
        width: 120px;
    }
    .img_login{
        width: 250px;
    }